.Launchpad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Launchpad .launchpad-bg {
  background: url("img/launchpad_bg2.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100vw;
  height: 204px;
  position: absolute;
  top: 60px;
  left: 0px;
  opacity: 0.5;
  z-index: 0;
}
.Launchpad .title {
  font-size: 96px;
  text-align: center;
  margin: 0px;
  z-index: 10;
}
.Launchpad .description {
  font-size: 20px;
  display: block;
  width: 100%;
  max-width: 500px;
  text-align: center;
}
.Launchpad .cta {
  display: block;
  width: 200px;
  text-align: center;
}
@media (max-width: 768px) {
  .Launchpad .title {
    font-size: 36px;
  }
  .Launchpad .description {
    font-size: 16px;
  }
}
