.App-header-buy-crypto {
  position: relative;
  // margin-right: 1.4rem;
  border: 1px solid var(--dark-blue-border);
  border-radius: var(--border-radius-sm);
  height: 3.6rem;
  display: inline-flex;
  align-items: center;
  color: white;
}

.transak-buy-crypto-button {
  height: 3.6rem;
  border-radius: 0.4rem;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
  background: transparent;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
}

@media (max-width: 450px) {
  .App-header-buy-crypto {
    margin-right: 0.3rem;
  }
}
